.ProgressBar-container {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    margin-top: 16px;
    padding: 8px;
}

.ProgressBar-item {
    background-color: rgb(53, 98, 211);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    user-select: none;
    padding: 8px 0;
}