.App-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.App-title {
    text-align: center;
}

.App-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.App-progress {
    margin-top: 24px;
    background-color: green;
}