body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(173, 213, 238);
}

.grid-board {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: fit-content;
}

.grid-row {
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.grid-item {
    min-width: 2.15em;
    max-width: 2.15em;
    min-height: 2.15em;
    max-height: 2.15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 2em;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.grid-item-value {
    text-align: center;
    position: relative;
}

.grid-item-notes {
    background-color: orange;
    font-size: 0.5em;
    bottom: 0px;
    position: relative;
}

.grid-item:nth-child(9n+3),
.grid-item:nth-child(9n+6) {
    border-right: 3px solid black;
}

.grid-row:nth-child(9n+3),
.grid-row:nth-child(9n+6) {
    border-bottom: 3px solid black;
}


/* .grid-row:nth-child(9n+4),
.grid-row:nth-child(9n+5),
.grid-row:nth-child(9n+6) {
    background-color: rgb(205, 205, 205);
}

.grid-item:nth-child(9n+4),
.grid-item:nth-child(9n+5),
.grid-item:nth-child(9n+6) {
    background-color: rgb(205, 205, 205);
} */

.number-selector {
    width: fit-content;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    background-color: rgba(0, 115, 255, 0.516);
    padding: 8px;
    margin-top: 12px;
    border-radius: 8px;
}

.number-selector-item {
    width: 64px;
    height: 64px;
    background-color: rgba(0, 115, 255, 0.742);
    border-radius: 8px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.grid-item-locked {
    font-weight: bold;
    /* opacity: 0.75; */
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item-selected {
    background-color: rgb(177, 177, 177);
}

.grid-item-highlighted {
    background-color: rgb(51, 137, 182);
    color: white;
}

.note-mode {
    width: fit-content;
    background-color: grey;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.note-mode-off {
    background-color: rgb(97, 19, 19);
}

.note-mode-on {
    background-color: darkgreen;
}

.main-row {
    display: flex;
}